* {
  box-sizing: border-box;
}

:root{
  /* --primary-color:#7bff; */
  /* --secondary-color:#6c757d; */

}
.open-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  left: 30px;
  width: 280px;
}

.chat-popup {
  display: none;
  z-index: 9;
  position: fixed;
  top: 23px;
  left: 30px;
  border: 3px solid #f1f1f1;

}

.request{
    background-color: #555;
    color: white;
}
.response{
    background-color: #555;
    color: red;
}
 
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.form-container textarea {
  /* border: 1px solid black; */
  width: 100%;
  border: none;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  border: none;
}

.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
